<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <!-- Create new log file when file size increases from 1 MB -->
    <target name= "archivelog" xsi:type= "File" keepFileOpen= "false" encoding= "utf-8" fileName= "c:\NLog\${level}\Log-${shortdate}.log" 
            archiveFileName= "c:\NLog\${level}\Log-Archive-${shortdate}.{#}.log" 
            archiveAboveSize= "1024000" archiveNumbering= "Sequence" maxArchiveFiles= "0" layout= "${longdate}|${level:uppercase=true}|${logger}|${message}|${newline}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name= "*" minlevel= "trace" writeTo= "archivelog" /> 
  </rules>
</nlog>